<% provide(:title, "Logowanie") %>
<h1>Zaloguj Się</h1>

<div class="row">
  <div class="span6 offset3 form-signin">
    <%= bootstrap_form_for(:session, url: sessions_path, class: 'form-signin') do |f| %>

      
      <%= f.text_field :email, hide_label: :true, placeholder: "Adres Email" %>

      
      <%= f.password_field :password, hide_label: :true, placeholder: "Hasło" %>

      <%= f.submit "Zaloguj", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Jesteś nowy? <%= link_to "zarejestruj się!", signup_path %></p>
  </div>
</div>