  <% if @news.status==1   %>
                  <%= link_to 'Zdejmij',unpublish_admin_news_url(@news),:class =>'btn btn-danger btn-lg' %>
                    <% else %>
                    <%= link_to 'Publikuj',publish_admin_news_url(@news),:class =>'btn btn-danger btn-lg' %>
                    <% end %>
<p>
  <b>Autor:</b>
  <%= @news.user.name%>
</p>

<p>
  <b>Tytuł:</b>
  <%= @news.title %>
</p>

<p>
  <b>Podsumowanie:</b>
  <%= markdown @news.summary %>
</p>

<p>
  <b>Treść:</b>
  <%= markdown @news.content %>
</p>

<p>
  <b>Status:</b>
  <% if @news.status==1   %>
                    Opublikowany
                    <% else %>
                    Nieopublikowany
                    <% end %>
</p>


