<%= bootstrap_form_for(@wykop,style: :horizontal, left: "col-sm-4", right: "col-sm-8") do |f| %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :summary, {'data-provide' => "markdown"} %>
  </div>
  <div class="field">
    <%= f.text_field :url %>
  </div>
  <%= f.form_group do %>
    <%= f.submit "Zapisz", class: "btn btn-large btn-primary" %>
  <% end %>
<% end %>