<% provide(:title, 'Wykop') %>
<div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-sm-9">
      

<%= will_paginate %>



<% @wykops.each do |wykop| %>
 <div class="page-header">
          <h3><%= link_to wykop.title, wykop_url(wykop) %></h3>
        </div>
        <p>Dodane przez <%= link_to wykop.user.name, user_url(wykop.user) %>, dnia <%= time_tag wykop.created_at  ,datetime: wykop.created_at %>, napisano <%= link_to "#{wykop.comments.count} komentarzy", wykop_url(wykop) %>, url: <%= link_to wykop.url, wykop.url %></p>
        <div class="lead"><%= markdown wykop.summary %></div>
<% end %>

<%= will_paginate %>

</div><!--/row-->


        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <%= render "menu" %>
        </div><!--/span-->
      </div>


