<% provide(:title, @wykop.title ) %>
<div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-sm-9">
 <div class="row">
   <div class="col-md-1">

    <div class="wykop btn btn-primary col-md-1">
      <div class="row">
        <% if current_user.voted_for? @wykop %>
        <span class="glyphicon glyphicon-chevron-up voted"></span>
         <% else %>
         <%= link_to '<span class="glyphicon glyphicon-chevron-up"></span>'.html_safe, like_wykop_path(@wykop) %>
         <% end %>

      </div>
      <div class="row">
        <%= @wykop.score %>
      </div>
      <div class="row">
        <% if current_user.voted_for? @wykop %>
        <span class="glyphicon glyphicon-chevron-down voted"></span>
         <% else %>
         <%= link_to '<span class="glyphicon glyphicon-chevron-down"></span>'.html_safe, dislike_wykop_path(@wykop) %>
         <% end %>

      </div>
      <div class="row">
        <% if current_user.voted_for? @wykop %>
          <% if current_user.voted_up_on? @wykop %>
          <%= link_to 'cofnij'.html_safe, like_wykop_path(@wykop) %>
          <% end %>
          <% if current_user.voted_down_on? @wykop %>
          <%= link_to 'cofnij'.html_safe, dislike_wykop_path(@wykop) %>
          <% end %>
        <% end %>

      </div>

    </div>
   </div>
  <div class="col-md-11">     
 <div class="page-header">
          <h3><%= @wykop.title %></h3>
        </div>
        <p>Dodane przez <%= link_to @wykop.user.name, user_url(@wykop.user) %>, dnia <%= time_tag @wykop.created_at  ,datetime: @wykop.created_at %>, napisano <%= link_to "#{@wykop.comments.count} komentarzy", wykop_url(@wykop) %>, url: <%= link_to @wykop.url, @wykop.url %></p>
        <div class="lead"><%= markdown @wykop.summary %></div>
    </div>
   </div>

<hr />

  <h3>Komentarze do wpisu</h3>

  <ul class="users">
  <% @wykop.comments.each do |comment| %>
    <li>


      <%= gravatar_for comment.user %><span>Napisane <%= time_ago_in_words comment.created_at %> temu, przez </span>
      <%= link_to comment.user.name, comment.user %>
      <p><%= comment.comment %></p>
    </li>
  <% end %>
</ul>
<% if signed_in? %>    
<hr />

<%= bootstrap_form_for(@comments, style: :horizontal, left: "col-sm-4", right: "col-sm-8") do |f| %>


<%=  f.text_area :comment , :rows => 3 %>
<%=  f.hidden_field :commentable_id, :as => :hidden %>
<%= f.hidden_field :commentable_type, :as => :hidden %>

          <%= f.form_group do %>
        <%= f.submit "wyslij", class: "btn btn-large btn-primary" %>
        <% end %>
    <% end %>


    </div><!--/row-->


        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <%= render "menu" %>
        </div><!--/span-->
      </div>

        <% end %>