<div class="masthead">
    <div class="header" style="height: 40px;">
         <ul class="nav nav-pills pull-right">
          <% if signed_in? %>
            <li><%= link_to "Users", '#' %></li>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Logowanie", signin_path %></li>
            <li><%= link_to "Rejestracja", signup_path %></li>
          <% end %>

         </ul>
         <h3 class="text-muted">Sociaror</h3>
    </div>
</div>
<ul class="nav nav-justified">
    <li class="active"><%= link_to "Strona Główna", root_path %></li>
    <li><%= link_to "Newsy", "#" %></li>
    <li><%= link_to "Projekty", "#" %></li>
    <li><%= link_to "Wykop", "#" %></li>
    <li><%= link_to "Pytania i Odpowiedzi", "#" %></li>
    <li><%= link_to "Użytkownicy", "#" %></li>
</ul> 