<div class="masthead">
    <div class="header" style="height: 40px;">
         <ul class="nav nav-pills pull-right">
          <% if signed_in? %>
            <li><%= link_to "Profil", current_user %></li>
            <li><%= link_to "Ustawienia", edit_user_path(current_user) %></li>
            <li><%= link_to "Wyloguj", signout_path, method: "delete" %></li>
            <% if admin? %>
            <li><%= link_to "Administracja", admin_root_path %></li>
            <% end %>
          <% else %>
            <li><%= link_to "Logowanie", signin_path %></li>
            <li><%= link_to "Rejestracja", signup_path %></li>
          <% end %>

         </ul>
         <h3 class="text-muted">Sociaror</h3>
    </div>
</div>
<ul class="nav nav-justified">
    <li><%= link_to "Strona Główna", root_path %></li>
    <li><%= link_to "Newsy", news_index_path %></li>
    <li><%= link_to "Wykop", wykops_path %></li>
    <li><%= link_to "Pytania i Odpowiedzi", pytania_path %></li>
    <li><%= link_to "Uzytkownicy", users_path %></li>
</ul> 