<!DOCTYPE html>
<html lang="en">
<head>
<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application-admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Sociaror - Panel Administratora", admin_root_path, :class=>"navbar-brand"  %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Strona Głowna</a></li>
            <li><%= link_to "Użytkownicy", admin_users_path %></li>
            <li><%= link_to "Newsy", admin_news_index_path %></li>
            <li><%= link_to "Wykop", admin_wykops_path %></li>
            <li><%= link_to "Pytania", admin_pytania_path %></li>

          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

          <% flash.each do |key, value| %>
      <div class="<%= twitterized_type(key)  %>"><%= value %></div>
    <% end %>
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-sm-9">
    <%= yield %>
      </div>


        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <%= yield :menu %>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.container-->
  </body>
</html>