<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
 <body>

    <div class="container">

      <div class="masthead">
        <div class="header" style="height: 40px;">
          <ul class="nav nav-pills pull-right">
            <li><%= link_to "Logowanie", "#" %></li>
            <li><%= link_to "Rejestracja", "#" %></li>
          </ul>
          <h3 class="text-muted">Sociaror</h3>
        </div>
      </div>
        <ul class="nav nav-justified">
          <li class="active"><%= link_to "Strona Główna", root_path %></li>
          <li><%= link_to "Newsy", "#" %></li>
          <li><%= link_to "Projekty", "#" %></li>
          <li><%= link_to "Wykop", "#" %></li>
          <li><%= link_to "Pytania i Odpowiedzi", "#" %></li>
          <li><%= link_to "Użytkownicy", "#" %></li>
        </ul>
        <%= yield %>


      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
