<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
 <body>


<div class="container">
    <%= render 'layouts/header' %>
    </div>
        <div class="container">
    <% flash.each do |key, value| %>
      <div class="<%= twitterized_type(key)  %>"><%= value %></div>
    <% end %>
    <%= yield %>



    <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
